.container {
	width: 1000px;
	margin: 0 auto;
}

.content {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.content.-projects {
	flex-wrap: wrap;
}

@media screen and (max-width: 1023px) {
	.container {
		width: 730px;
	}
}

@media screen and (max-width: 767px) {
	.container {
		width: 99%;
	}

	.content {
		flex-direction: column;
	}
}
