footer {
	background-color: black;
	color: white;
	padding: 20px 0 20px 0;
}

.footer__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.footer.-l {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.footer__refs {
	display: flex;
	flex-direction: column;
	align-items: space-between;
	justify-content: center;
	margin-left: 20px;
}

.footer__refs.-r {
	display: flex;
	align-items: flex-start;
	justify-content: center;
}

.footer__link {
	color: white;
	text-decoration: none;
	margin-bottom: 5px;
}

.footer__date {
	margin-top: 13px;
	text-align: right;
}

@media screen and (max-width: 767px) {
	.footer__container, .footer.-l {
		flex-direction: column;
		margin-left: 0;
	}

	.footer__link, .footer__date {
		text-align: center;
		margin-left: 0;
	}
}